<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body>
<blockquote class="layui-elem-quote title">
    <span class="layui-breadcrumb">
      <a>后台首页</a>
      <a><cite>菜单管理</cite></a>
    </span>
</blockquote>
<button id="" class="layui-btn layui-btn-normal"  onclick="addMenu()">添加菜单</button>
<table id="menu" lay-filter="menu"></table>
<!--菜单可操作性，工具条，判断是否可操作-->
<script type="text/html" id="tbar">
    {{#  if(d.menuStatu !=0){ }}
        <!--<a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>-->
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    {{#  } else{ }}
      系统菜单，不可编辑
    {{#  } }}
</script>
</body>
<script th:src="@{/layui/layui.all.js}"></script>
<script th:src="@{/js/admin.js}" type="text/javascript"></script>
<script th:src="@{/js/global.js}" type="text/javascript"></script>
<script>
    var $ = layui.jquery;
    var layer = layui.layer;
    var element = layui.element;
    var util = layui.util;
    var table = layui.table;
    var form = layui.form;
    var common = layui.common;
</script>


<script type="text/javascript">
    //初始化表格数据-->
    function loadTable() {
        table.render({
            elem: '#menu'
            ,height: 450
            ,id:"menu"
            ,url: '/menu/pageMenu' //数据接口
            ,page: true //开启分页
            ,cols: [
                [ //表头
                    {field: 'id', title: 'ID', width:160, align:'center', sort: true, fixed: 'left'}
                    ,{field: 'menuName', title: '菜单名称', align:'center', width:180}
                    ,{field: 'menuUrl', title: '菜单url', align:'center', width:180, sort: true}
                    ,{field: 'menuPid', title: '父级', align:'center', width: 177}
                    ,{field: 'menuType', title: '菜单类型', align:'center', width: 177,templet: '#typeTpl'}
                    ,{field: 'menuStatu', title: '状态', sort: true, align:'center', width: 177,templet: '#statu'}
                    ,{fixed: 'right',title:'操作', width:200, align:'center', toolbar: '#tbar'}
                ]
            ]
        });
    }
    loadTable();

    //事件监听
    //监听工具条
    table.on('tool(menu)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
        var data = obj.data; //获得当前行数据
        var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
        var tr = obj.tr; //获得当前行 tr 的DOM对象

        if(layEvent === 'detail'){ //查看
            //do somehing
        } else if(layEvent === 'del'){ //删除
            layer.confirm('真的删除行么', function(index){
                obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                layer.close(index);
                //向服务端发送删除指令
                // layer.alert(data.id);
                delMenu(data);
            });
        } else if(layEvent === 'edit'){ //编辑
            updateMenu(data);
        }
    });

</script>
<!--字符转义，菜单级别-->
<script type="text/html" id="typeTpl">
    {{#  if(d.menuType==-1){ }}
    顶级菜单
    {{#  } else if(d.menuType==0) { }}
    一级菜单
    {{#  } else if(d.menuType==1) { }}
    二级菜单
    {{#  } else if(d.menuType==2) { }}
    三级菜单
    {{#  }}}
</script>
<!--字符转义，菜单状态-->
<script type="text/html" id="statu">
    {{#  if(d.menuStatu==0){ }}
    系统菜单
    {{#  }else{}}
    自定义菜单
    {{#  } }}
</script>
</body>
</html>
